#RainBow{
	opacity:0.5;
	position:absolute;
	width:350%;
	height:120%;
	background: url(image/bg_Rainbow.png);
	background-size:100%;
	background-repeat:no-repeat; 
	left:0%;
	bottom:-10%;/*84%*/
	z-index:0;	  
}
/* 設定body */
body {
	/*
	overflow-Y右邊垂直捲軸 設為hidden隱藏
	background-color背景底色 設為#000黑色
	font-family網頁字型 設為Microsoft JhengHei, Arial 微軟正黑體,Arial
	*/	
	overflow-Y:hidden;
    background-color: #000;
    text-align: center;    
    font-family: Microsoft JhengHei, Arial;    
}

/* 設定內容顯示區域 */
#content {
	/*
	min-height最小高度 設為100%
	list-style清單風格 設為none不顯示
	margin邊界 設為0
	padding展開設定為0
	white-space段落文本 設為nowrap 不斷行	
	*/
    min-height: 100%;	
	list-style: none;     
    margin: 0;
    padding: 0; 
    white-space: nowrap; 
}

/* 設定超連結 */
a {	
	/*
	color文字顏色 設為#F26522 橙橘色
	*/
    color: #F26522;
}

/* 繪製 背景 */
#Bg{
	/*
	position位置 設為absolute絕對位置
	width全景寬度 設為502% 
	height全景高度 設為100%
	*/
	position:absolute;
	width:502%;
	height:100%;
	background: url(image/bg_Sky.png);
	background-size:100%;
	background-repeat:repeat; 
	left:0%;
	top:0%;/*84%*/
	z-index:0;	   
}

/* 繪製 主角 */
#Player{
	position:fixed;
	width:139px;
	height:203px;
	background: url(image/player_Rwalk1.png);
	background-size:139px 203px;
	background-repeat:no-repeat; 
	left:35%;
	bottom:0%;/*84%*/
	z-index:3;
	margin:-186px 0 0 -168px;	
    -webkit-animation-iteration-count:infinite;	
	-webkit-animation-duration:1s;	
    -webkit-animation-delay:0s; 	
}

/* 動畫 人物右走 */
@-webkit-keyframes RWalk{
	/*
	%數為動畫的時間軸長度百分比
	*/
      0% {			
			background: url(image/player_Rwalk1.png);
			background-size:139px 203px;
		 }
     50% {
			background: url(image/player_Rwalk2.png);
			background-size:139px 203px;			
		 }
    100% 
		 {			
			background: url(image/player_Rwalk1.png);
			background-size:139px 203px;
		 }
}

/* 動畫 人物左走 */
@-webkit-keyframes LWalk{
	/*
	%數為動畫的時間軸長度百分比
	*/
      0% {			
			background: url(image/player_Rwalk2.png);	
			background-size:139px 203px;
		 }
     50% {
			background: url(image/player_Rwalk1.png);
			background-size:139px 203px;
		 }
    100% 
		 {			
			background: url(image/player_Rwalk2.png);
			background-size:139px 203px;
		 }
}

/* 繪製 豬 */
#Pig {
	position:fixed;
	width:471px;
	height:386px;
	background: url(image/Pig1.png);
	background-size:100%;
	background-repeat:no-repeat; 
	left:75%;
	bottom:0%;/*84%*/
	z-index:0;
	margin:-186px 0 0 -168px;
	
    -webkit-animation-iteration-count:infinite;
	-webkit-animation-duration:1s;
    -webkit-animation-delay:0s;    
}

/* 動畫 豬走路 */
@-webkit-keyframes PigWalk{
	/*
	%數為動畫的時間軸長度百分比
	*/
      0% {			
			background: url(image/Pig1.png);
			background-size:100%;
			width:471px;
			height:386px;	
		 }
     50% {
			background: url(image/Pig2.png);
			background-size:100%;
			width:471px;
			height:386px;
		 }
    
	100% {			
			background: url(image/Pig1.png);
			background-size:100%;
			width:471px;
			height:386px;
		 }
}

/* 繪製 蝙蝠1 */
.Bat1 {
	position:absolute;
	width:188px;
	height:190px;
	background: url(image/Bat1.png);
	background-size:100%;
	background-repeat:no-repeat; 
	left:220%;
	top:500px;/*84%*/
	z-index:3;
	margin:-186px 0 0 -168px;
	-webkit-animation-name:BatFly1;
    -webkit-animation-iteration-count:infinite;
	-webkit-animation-duration:2s;
    -webkit-animation-delay:0s;    
}

/* 繪製 蝙蝠2 */
.Bat2 {
	position:absolute;
	width:188px;
	height:190px;
	background: url(image/Bat1.png);
	background-size:100%;
	background-repeat:no-repeat; 
	left:220%;
	top:600px;/*84%*/
	z-index:3;
	margin:-186px 0 0 -168px;
	-webkit-animation-name:BatFly2;
    -webkit-animation-iteration-count:infinite;
	-webkit-animation-duration:2s;
    -webkit-animation-delay:0s;    
}

/* 繪製 蝙蝠3 */
.Bat3 {
	position:absolute;
	width:188px;
	height:190px;
	background: url(image/Bat1.png);
	background-size:100%;
	background-repeat:no-repeat; 
	left:220%;
	top:700px;/*84%*/
	z-index:3;
	margin:-186px 0 0 -168px;
	-webkit-animation-name:BatFly3;
    -webkit-animation-iteration-count:infinite;
	-webkit-animation-duration:2s;
    -webkit-animation-delay:0s;    
}

/* 動畫 蝙蝠1飛 */
@-webkit-keyframes BatFly1 {
	/*
	%數為動畫的時間軸長度百分比
	*/
	0% {			
		background: url(image/Bat1.png);
		background-size:100%;
		-webkit-transform: translateX(0px) translateY(0px);
	}	
	
	50% {
		background: url(image/Bat2.png);
		background-size:100%;	
		-webkit-transform: translateX(-15px) translateY(-25px);
	}		
	
	75% {
		background: url(image/Bat3.png);
		background-size:100%;	
		-webkit-transform: translateX(0px) translateY(0px);
	}
	
    100% {			
		background: url(image/Bat1.png);
		background-size:100%;	
		-webkit-transform: translateX(0px) translateY(0px);
	}
}

/* 動畫 蝙蝠2飛 */
@-webkit-keyframes BatFly2 {
	/*
	%數為動畫的時間軸長度百分比
	*/
	0% {			
		background: url(image/Bat1.png);
		background-size:100%;
		-webkit-transform: translateX(0px) translateY(0px);
	}	
	
	50% {
		background: url(image/Bat2.png);
		background-size:100%;	
		-webkit-transform: translateX(0px) translateY(0px);
	}		
	
	75% {
		background: url(image/Bat3.png);
		background-size:100%;	
		-webkit-transform: translateX(-15px) translateY(-25px);
	}
	
    100% {			
		background: url(image/Bat1.png);
		background-size:100%;	
		-webkit-transform: translateX(0px) translateY(0px);
	}
}

/* 動畫 蝙蝠3飛 */
@-webkit-keyframes BatFly3 {
	/*
	%數為動畫的時間軸長度百分比
	*/
	0% {			
		background: url(image/Bat1.png);
		background-size:100%;
		-webkit-transform: translateX(-15px) translateY(-25px);
	}	
	
	50% {
		background: url(image/Bat2.png);
		background-size:100%;	
		-webkit-transform: translateX(0px) translateY(0px);
	}		
	
	75% {
		background: url(image/Bat3.png);
		background-size:100%;	
		-webkit-transform: translateX(0px) translateY(0px);
	}
	
    100% {			
		background: url(image/Bat1.png);
		background-size:100%;	
		-webkit-transform: translateX(-15px) translateY(-25px);
	}
}

/* 繪製 飛豬1 */
#FlyPig1{
	background:url(image/FlyPig.png);
	background-repeat:no-repeat;
	background-size:50%;
	width:357px;
	height:419px;
	position:absolute;
	top:12%; 
	left:225%; 
	z-index:2;
	-webkit-animation-name:PigFly1;
    -webkit-animation-iteration-count:infinite;
	-webkit-animation-duration:10s;
    -webkit-animation-delay:0s;    
}

/* 繪製 飛豬2 */
#FlyPig2{
	background:url(image/FlyPig.png);
	background-repeat:no-repeat;
	background-size:50%;
	width:357px;
	height:419px;
	position:absolute;
	top:5%; 
	left:250%; 
	z-index:2;
	-webkit-animation-name:PigFly2;
    -webkit-animation-iteration-count:infinite;
	-webkit-animation-duration:8s;
    -webkit-animation-delay:0s;    
}

/* 繪製 飛豬3 */
#FlyPig3{
	background:url(image/FlyPig.png);
	background-repeat:no-repeat;
	background-size:50%;
	width:357px;
	height:419px;
	position:absolute;
	top:20%; 
	left:280%; 
	z-index:2;
	-webkit-animation-name:PigFly3;
    -webkit-animation-iteration-count:infinite;
	-webkit-animation-duration:13s;
    -webkit-animation-delay:0s;    
}

/* 繪製 飛豬4 */
#FlyPig4{
	opacity:0.5;	
	background:url(image/FlyPig.png);
	background-repeat:no-repeat;
	background-size:50%;
	width:197px;
	height:259px;
	position:absolute;
	top:28%; 
	left:205%; 
	z-index:1;	
}

/* 繪製 飛豬5 */
#FlyPig5{
	opacity:0.5;	
	background:url(image/FlyPig.png);
	background-repeat:no-repeat;
	background-size:50%;
	width:197px;
	height:259px;
	position:absolute;
	top:40%; 
	left:270%; 
	z-index:1;	  
}

/* 繪製 飛豬6 */
#FlyPig6{
	opacity:0.7;	
	background:url(image/FlyPig.png);
	background-repeat:no-repeat;
	background-size:50%;
	width:125px;
	height:187px;
	position:absolute;
	top:50%; 
	left:245%; 
	z-index:1;	 
}

#FlyPig7{
	opacity:0.7;	
	background:url(image/FlyPig.png);
	background-repeat:no-repeat;
	background-size:50%;
	width:277px;
	height:339px;
	position:absolute;
	top:30%; 
	left:325%; 
	z-index:1;	 
}

/* 繪製 飛豬文字排版 */
#FlyPigText{	
	position:absolute;	
	top:225px; 
	left:10%; 
}

/* 動畫 豬1飛 */
@-webkit-keyframes PigFly1 {
	/*
	%數為動畫的時間軸長度百分比
	*/
	0% {		
		opacity:0.8;
		-webkit-transform: translateX(0px) translateY(0px);
	}	
	
	50% {
		opacity:1;	
		-webkit-transform: translateX(-40px) translateY(-5px);
	}		
	
	75% {
		opacity:0.6;
		-webkit-transform: translateX(-30px) translateY(0px);
	}
	
    100% {			
		opacity:1;
		-webkit-transform: translateX(0px) translateY(0px);
	}
}

/* 動畫 豬2飛 */
@-webkit-keyframes PigFly2 {
	/*
	%數為動畫的時間軸長度百分比
	*/
	0% {		
		opacity:1;
		-webkit-transform: translateX(0px) translateY(0px);
	}	
	
	50% {
		opacity:.8;	
		-webkit-transform: translateX(-30px) translateY(0px);
	}		
	
	75% {
		opacity:.6;
		-webkit-transform: translateX(-40px) translateY(-5px);
	}
	
    100% {			
		opacity:1;
		-webkit-transform: translateX(0px) translateY(0px);
	}
}

/* 動畫 豬3飛 */
@-webkit-keyframes PigFly3 {
	/*
	%數為動畫的時間軸長度百分比
	*/
	0% {		
		opacity:1;
		-webkit-transform: translateX(0px) translateY(0px);
	}	
	
	50% {
		opacity:.5;	
		-webkit-transform: translateX(-50px) translateY(0px);
	}		
	
	75% {
		opacity:1;
		-webkit-transform: translateX(-5px) translateY(-40px);
	}
	
    100% {			
		opacity:.8;
		-webkit-transform: translateX(0px) translateY(0px);
	}
}

/* 繪製 氣球1 */
#Balloon1{
	background:url(image/Balloon.png);	
	background-repeat:no-repeat;
	background-size:100%;
	width:130px;
	height:410px;
	position:absolute;
	top:14%; 
	left:350%; 
	z-index:2;
	-webkit-animation-name:BalloonFly1;
    -webkit-animation-iteration-count:infinite;
	-webkit-animation-duration:10s;
    -webkit-animation-delay:0s;    
}

/* 繪製 氣球2 */
#Balloon2{
	background:url(image/Balloon.png);
	background-repeat:no-repeat;
	background-size:100%;
	width:130px;
	height:410px;
	position:absolute;
	top:28%; 
	left:370%; 
	z-index:2;
	-webkit-animation-name:BalloonFly2;
    -webkit-animation-iteration-count:infinite;
	-webkit-animation-duration:15s;
    -webkit-animation-delay:0s;    
}

/* 繪製 氣球3 */
#Balloon3{
	background:url(image/Balloon.png);
	background-repeat:no-repeat;
	background-size:100%;
	width:130px;
	height:410px;
	position:absolute;
	top:18%; 
	left:390%; 
	z-index:2;
	-webkit-animation-name:BalloonFly3;
    -webkit-animation-iteration-count:infinite;
	-webkit-animation-duration:20s;
    -webkit-animation-delay:0s;    
}

/* 動畫 氣球1飛 */
@-webkit-keyframes BalloonFly1 {
	/*
	%數為動畫的時間軸長度百分比
	*/
	0% {	
		-webkit-transform: translateX(0px) translateY(0px);
	}	
	
	50% {
		-webkit-transform: translateX(-10px) translateY(-40px);
	}		
	
	75% {
		-webkit-transform: translateX(10px) translateY(-30px);
	}
	
    100% {	
		-webkit-transform: translateX(px) translateY(0px);
	}
}

/* 動畫 氣球2飛 */
@-webkit-keyframes BalloonFly2 {
	/*
	%數為動畫的時間軸長度百分比
	*/
	0% {	
		-webkit-transform: translateX(0px) translateY(0px);
	}	
	
	50% {
		-webkit-transform: translateX(-40px) translateY(-60px);
	}		
	
	75% {
		-webkit-transform: translateX(-10px) translateY(-10px);
	}
	
	30% {
		-webkit-transform: translateX(-10px) translateY(50px);
	}
	
    100% {	
		-webkit-transform: translateX(0px) translateY(0px);
	}
}

/* 動畫 氣球3飛 */
@-webkit-keyframes BalloonFly3 {
	/*
	%數為動畫的時間軸長度百分比
	*/
	0% {	
		-webkit-transform: translateX(0px) translateY(0px);
	}	
	
	50% {
		-webkit-transform: translateX(0px) translateY(-60px);
	}		
	
	75% {
		-webkit-transform: translateX(-50px) translateY(-10px);
	}
	
    100% {		
		-webkit-transform: translateX(0px) translateY(0px);
	}
}

/* 繪製 氣球文字排版 */
#BalloonText{	
	position:absolute;	
	top:50px; 
	left:20%; 
}

/* 繪製 小鳥 */
#Bird{
	background-image:url(image/Bird1.png);	
	background-size:100%;
	background-repeat: no-repeat;   
	width:210px; 
	height:175px; 
	position:absolute; 
	top:10%; 
	left:395%; 
	z-index:0;
	-webkit-animation-name:BirdFly;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-duration:10s;
    -webkit-animation-delay:0s; 
}

/* 動畫 小鳥飛 */
@-webkit-keyframes BirdFly {
	/*
	%數為動畫的時間軸長度百分比
	*/
	0% {			
		background: url(image/Bird3.png);
		background-size:100%;
		-webkit-transform: translateX(0px) translateY(0px);
	}

	10% {
		background: url(image/Bird4.png);
		background-size:100%;	
	}
	
	20% {
		background: url(image/Bird3.png);
		background-size:100%;	
	}	

	30% {
		background: url(image/Bird4.png);
		background-size:100%;
	}
	
	40% {
		background: url(image/Bird3.png);
		background-size:100%;	
	}
	
	50% {
		background: url(image/Bird2.png);
		background-size:100%;	
		-webkit-transform: translateX(-760px) translateY(-20px);
	}
	
	60% {
		background: url(image/Bird1.png);
		background-size:100%;			
	}
	
	70% {
		background: url(image/Bird2.png);
		background-size:100%;
	}
	
	80% {
		background: url(image/Bird1.png);
		background-size:100%;
	}
	
	90% {			
		background: url(image/Bird2.png);
		background-size:100%;
	}
	
    100% {			
		background: url(image/Bird1.png);
		background-size:100%;	
		-webkit-transform: translateX(0px) translateY(0px);
	}
}

/* 繪製 恐龍 */
#Dinosaur{
	background-image:url(image/Dinosaur.png);	
	background-size:100%;
	background-repeat: no-repeat; 
	width:650px; 
	height:550px; 
	position:absolute; 
	bottom:4%; 
	left:355%; 
	z-index:0;
}

/* 繪製 長頸鹿 */
#Giraffe{
	background-image:url(image/Giraffe.png);	
	background-size:100%;
	background-repeat: no-repeat;   
	width:470px; 
	height:570px; 
	position:absolute; 
	bottom:4%;
	left:425%; 
	z-index:0;
}

/* 繪製 地板1 */
#Floor1{
	background-image:url(image/Floor1.png); 
	background-repeat: repeat-x;   
	width:501%; 
	height:20px; 
	position:absolute; 
	bottom:0%; 
	left:0px; 
	z-index:1;
}

/* 繪製 地板2 */
#Floor2{
	background-image:url(image/Floor2.png); 
	background-repeat: repeat-x;   
	width:509%; 
	height:100px; 
	position:absolute; 
	bottom:2%; 
	left:-100px; 
	z-index:3;
}

/* 繪製 草1 */
#Grass1{
	background-image:url(image/fg_Grass.png);
	background-repeat: repeat-x;   
	width:502.5%; 
	height:10%; 
	position:absolute; 
	bottom:2%; 
	left:-20px; 
	z-index:1;
	-webkit-animation-name:Grass1;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-duration:8s;
    -webkit-animation-delay:0s;    
}

/* 動畫 草1 */
@-webkit-keyframes Grass1{
	/*
	%數為動畫的時間軸長度百分比
	*/
      0% {			
			opacity:1;			
		 }
     50% {
			opacity:0.2;			 			
		 }
    100% 
		 {			
			opacity:1;			
		 }
}

/* 繪製 草2 */
#Grass2{
	background-image:url(image/fg_Grass.png); 
	background-repeat: repeat-x;   
	width:502.5%; 
	height:10%; 
	position:absolute; 
	bottom:2%; 
	left:-60px; 
	z-index:1;
	-webkit-animation-name:Grass2;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-duration:8s;
    -webkit-animation-delay:0s;    
}

/* 動畫 草2 */
@-webkit-keyframes Grass2{
	/*
	%數為動畫的時間軸長度百分比
	*/
      0% {			
			opacity:0.2;			
		 }
     50% {
			opacity:1;			 			
		 }
    100% 
		 {			
			opacity:0.2;			
		 }
}

/* 前景對話框 */
#Speak{
	background-image:url(image/Speak.png);
	background-repeat:no-repeat; 
	background-size:100%;  
	width:150px; 
	height:0px; 
	margin:-50px auto auto 450px;
	z-index:3;
}

/* 前景洞窟 */
#Cave{
	background-image:url(image/Cave.png);
	background-repeat:no-repeat; 
	background-size:40%;  
	width:235%; 
	height:50%; 
	position:absolute; 
	top:50%; 
	left:175%; 
	z-index:3;
}

/* 繪製 柵欄1 */
#Fences1{
	background-image:url(image/Fences.png);	
	background-repeat:repeat-x; 
	background-size:5% 120px;  
	width:110%; 
	height:120px; 
	position:absolute; 
	bottom:3%; 
	left:0%; 
	z-index:2;
}

/* 繪製 柵欄2 */
#Fences2{
	background-image:url(image/Fences.png);	
	background-repeat:repeat-x; 
	background-size:5% 120px;  
	width:100%; 
	height:120px; 
	position:absolute; 
	bottom:3%; 
	left:401%; 
	z-index:2;
}

/* 繪製 南瓜1 */
#Pumpkin1{
	background-image:url(image/Pumpkin1.png);
	
	background-repeat:no-repeat; 	
	background-size:100%;
	width:200px; 
	height:250px;  	
	position:absolute; 
	bottom:0%; 
	left:10%; 
	z-index:3;
}

/* 繪製 南瓜2 */
#Pumpkin2{
	background-image:url(image/Pumpkin2.png);		
	background-position:0% 75%;
	background-repeat:no-repeat; 
	background-size:100%; 
	width:150px; 
	height:180px; 
	position:absolute; 
	bottom:0%;  
	left:90%; 
	z-index:3;
}

/* 背景 */
/* 繪製 背景雲1 */
#bg_Cloud1{
	opacity:0.6;	
	position:absolute; 
	top:13%; 
	left:180%; 
	z-index:0;
}

/* 繪製 背景雲2 */
#bg_Cloud2{
	opacity:0.6;	
	position:absolute; 
	top:10%; 
	left:230%; 
	z-index:0;
}

/* 繪製 背景雲3 */
#bg_Cloud3{
	opacity:0.6;	
	position:absolute; 
	top:25%; 
	left:270%; 
	z-index:0;
}

/* 繪製 背景雲4 */
#bg_Cloud4{
	opacity:0.7;	
	position:absolute; 
	top:18%; 
	left:340%; 
	z-index:0;
}

/* 繪製 背景雲5 */
#bg_Cloud5{
	opacity:0.9;	
	position:absolute; 
	top:5%; 
	left:370%; 
	z-index:1;
}

/* 繪製 背景雲6 */
#bg_Cloud6{
	opacity:0.7;	
	position:absolute; 
	top:10%; 
	left:390%; 
	z-index:0;
}

/* 繪製 背景雲7 */
#bg_Cloud7{
	opacity:0.7;	
	position:absolute; 
	top:10%; 
	left:445%; 
	z-index:0;
}

/* 繪製 背景雲8 */
#bg_Cloud8{
	opacity:0.9;	
	position:absolute; 
	top:5%; 
	left:470%; 
	z-index:1;
}

/* 繪製 背景雲9 */
#bg_Cloud9{
	opacity:0.7;	
	position:absolute; 
	top:20%; 
	left:480%; 
	z-index:0;
}

/* 繪製 背景雲10 */
#bg_Cloud10{
	opacity:0.7;	
	position:absolute; 
	top:10%; 
	left:55%; 
	z-index:0;
}

/* 標題 */
/* 繪製 標題雲 */
.Cloud{
background:url(image/Cloud.png);
background-size:100%;
width:380px;
height:200px;
}

/* 標題文字排版 */
.title{
line-height:170px;
}

/* 標題雲1排版 */
#Cloud1 {
	position:absolute;
	top:5%;	
	left:5%;	
}

/* 標題雲2排版 */
#Cloud2 {
	position:absolute;
	top:5%;
	left:106%;
}

/* 標題雲3排版 */
#Cloud3 {
	position:absolute;
	top:5%;
	left:203%;	
}

/* 標題雲4排版 */
#Cloud4 {
	position:absolute;
	top:5%;	
	left:321%;
	z-index:1;
}

/* 標題雲5排版 */
#Cloud5 {
	position:absolute;
	top:5%;	
	left:415%;	
}


/* 內容 */
/* 繪製 內容1 */
#content1 {
	position:absolute;
	top:30%;	
	left:106%;
}

/* 繪製 內容2 */
#content2 {
	position:absolute;
	top:45%;	
	left:106%;
}

/* 繪製 內容3 */
#content3 {
	position:absolute;
	top:60%;	
	left:106%;
}

/* 繪製 內容4 */
#content4 {
	position:absolute;
	top:50%;	
	left:18%;
	-webkit-animation-name:content4;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-duration:3s;
    -webkit-animation-delay:0s;
}

/* 動畫 內容4 */
@-webkit-keyframes content4{
	/*
	%數為動畫的時間軸長度百分比
	*/
      0% {			
			opacity:1;			
		 }
     50% {
			opacity:0.2;			 			
		 }
    100% 
		 {			
			opacity:1;			
		 }
}